In [2]:
!pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2
  Using cached psycopg2-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Using cached psycopg2-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10

In [2]:
import psycopg2

In [5]:
con = psycopg2.connect?

Signature:
psycopg2.connect(
    dsn=None,
    connection_factory=None,
    cursor_factory=None,
    **kwargs,
)
Docstring:
Create a new database connection.

The connection parameters can be specified as a string:

    conn = psycopg2.connect("dbname=test user=postgres password=secret")

or using a set of keyword arguments:

    conn = psycopg2.connect(database="test", user="postgres", password="secret")

Or as a mix of both. The basic connection parameters are:

- *dbname*: the database name
- *database*: the database name (only as keyword argument)
- *user*: user name used to authenticate
- *password*: password used to authenticate
- *host*: database host address (defaults to UNIX socket if not provided)
- *port*: connection port number (defaults to 5432 if not provided)

Using the *connection_factory* parameter a different class or connections
factory can be specified. It should be a callable object taking a dsn
argument.

Using the *cursor_factory* parameter, a new default cursor factory will be
used by cursor().

Using *async*=True an asynchronous connection will be created. *async_* is
a valid alias (for Python versions where ``async`` is a keyword).

Any other keyword parameter will be passed to the underlying client
library: the list of supported parameters depends on the library version.
File:      c:\users\jyo\appdata\roaming\python\python312\site-packages\psycopg2\__init__.py
Type:      function

In [3]:
con = psycopg2.connect(host = "localhost", user = "postgres", password = "akhil", port = 5432, dbname = "db1")

In [4]:
cur = con.cursor()

In [9]:
cur.execute("create table person(id integer, name varchar(20), age integer, salary integer)")

In [10]:
con.commit()

In [12]:
cur.execute("insert into person values(1, 'akhil', 23, 10000)")

In [13]:
cur.execute("insert into person values(2, 'nikhil', 24, 12000)")

In [14]:
con.commit()

In [15]:
cur.execute("update person set name = 'Akhil' where id = 1")

In [16]:
con.commit()

In [17]:
cur.execute("update person set name = 'Nikhil' where id = 2")

In [18]:
con.commit()

In [20]:
cur.execute("delete from person where id = 2")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [21]:
con.rollback()

In [22]:
cur.execute("delete from person where id = 2")

In [23]:
con.commit()

In [25]:
from faker import Faker
from random import randint
fake = Faker()

for i in range(2, 1001):
    query = f"insert into person values({i}, '{fake.name()}', {randint(23, 40)}, {randint(10000, 15000)})"
    cur.execute(query)

con.commit()

StringDataRightTruncation: value too long for type character varying(20)

In [26]:
con.rollback()

In [27]:
from faker import Faker
from random import randint
fake = Faker()

for i in range(2, 1001):
    query = f"insert into person values({i}, '{fake.name()[:20]}', {randint(23, 40)}, {randint(10000, 15000)})"
    cur.execute(query)

con.commit()

In [28]:
cur.execute("select salary from person sum(salary)")

AmbiguousColumn: column reference "salary" is ambiguous
LINE 1: select salary from person sum(salary)
               ^

In [29]:
con.rollback()

In [6]:
cur.execute("select * from person")

In [8]:
data = cur.fetchall()
print(data)

[]

In [ ]:
# sum of salaries
# Top ten salaried employee names.
# how many number employees are taking salaries more than average salary

In [1]:
cur.close()
con.close()

NameError: name 'cur' is not defined