In [15]:
import psycopg2

In [16]:
con = psycopg2.connect(host = "localhost", user = "postgres", password = "akhil", port = 5432, dbname = "db2")

In [17]:
cur = con.cursor()

In [4]:
cur.execute user("create table user(name varchar(20), phone_number integer, DOB DATE, user_name varchar(20), password varchar(20))")

SyntaxError: syntax error at or near "user"
LINE 1: create table user(name varchar(20), phone_number integer, DO...
                     ^

In [5]:
con.rollback()

In [6]:
cur.execute users_details("create table user(name varchar(20), phone_number integer, DOB DATE, user_name varchar(20), password varchar(20))")

SyntaxError: invalid syntax (2583138226.py, line 1)

In [7]:
con.rollback()

In [8]:
cur.execute users("create table user(name varchar(20), phone_number integer, DOB DATE, user_name varchar(20), password varchar(20))")

SyntaxError: invalid syntax (1173330288.py, line 1)

In [9]:
con.rollback()

In [4]:
cur.execute ("create table users(name varchar(20), phone_number integer, DOB DATE, user_name varchar(20), password varchar(20))")

In [4]:
cur.execute ("create table users(name varchar(20), phone_number integer, DOB DATE, user_name varchar(20), password varchar(20))")

In [5]:
con.commit()

In [6]:
con.rollback()

In [10]:

cur.execute(ALTER TABLE users ALTER COLUMN phone_number TYPE VARCHAR(15);)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (936234612.py, line 1)

In [11]:
con.rollback()

In [12]:
cur.execute(ALTER TABLE users ALTER COLUMN phone_number TYPE VARCHAR(15);)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2137111598.py, line 1)

In [13]:
con.rollback()

In [14]:
cur.execute("ALTER TABLE users ALTER COLUMN phone_number TYPE VARCHAR(15);")
con.commit()

cur.close()
con.close()
print("Column type changed successfully.")

Column type changed successfully.

In [18]:
cur.execute("create table statements(Date varchar(15), Particular varchar(20), Amount INT)")

In [19]:
con.commit()
cur.close()
con.close()

In [20]:
import psycopg2

In [21]:
con = psycopg2.connect(host = "localhost", user = "postgres", password = "akhil", port = 5432, dbname = "db2")

In [22]:
cur = con.cursor()

In [23]:
cur.execute("ALTER TABLE statements ADD user_name varchar(20);")

In [24]:
con.commit()
cur.close()
con.close()

In [25]:
import psycopg2

In [26]:
con = psycopg2.connect(host = "localhost", user = "postgres", password = "akhil", port = 5432, dbname = "db2")

In [27]:
cur = con.cursor()

In [28]:
cur.execute("ALTER TABLE statements ALTER COLUMN date TYPE date;")
con.commit()

cur.close()
con.close()
print("Column type changed successfully.")

DatatypeMismatch: column "date" cannot be cast automatically to type date
HINT:  You might need to specify "USING date::date".

In [29]:
con.rollback()

In [30]:

cur.execute("ALTER TABLE statements ALTER COLUMN date TYPE DATE USING date::DATE;")
con.commit()


cur.close()
con.close()
print("Column type changed successfully.")

Column type changed successfully.

In [31]:
import psycopg2
con = psycopg2.connect(host = "localhost", user = "postgres", password = "akhil", port = 5432, dbname = "db2")
cur = con.cursor()
cur.execute("select sum(amount) from statements")
data = fetchone()
print(data)

cur.close()
con.close()
print("Column type changed successfully.")

NameError: name 'fetchone' is not defined

In [32]:
con.rollback()

In [33]:
import psycopg2
con = psycopg2.connect(host = "localhost", user = "postgres", password = "akhil", port = 5432, dbname = "db2")
cur = con.cursor()
cur.execute("select sum(amount) from statements")
data = cur.fetchone()
print(data)

cur.close()
con.close()
print("Column type changed successfully.")

(2500,)
Column type changed successfully.

In [34]:
import psycopg2
con = psycopg2.connect(host = "localhost", user = "postgres", password = "akhil", port = 5432, dbname = "db2")
cur = con.cursor()
cur.execute("select sum(amount) from statements")
data = cur.fetchone()
print(data)

cur.close()
con.close()
print("Column type changed successfully.")

(2460,)
Column type changed successfully.

In [35]:
import psycopg2
con = psycopg2.connect(host = "localhost", user = "postgres", password = "akhil", port = 5432, dbname = "db2")
cur = con.cursor()
cur.execute("select * from statements where user_name = r.badireddy")
data = cur.fetchone()
print(data)

cur.close()
con.close()
print("Column type changed successfully.")

UndefinedTable: missing FROM-clause entry for table "r"
LINE 1: select * from statements where user_name = r.badireddy
                                                   ^

In [36]:
con.rollback()

In [37]:
import psycopg2
con = psycopg2.connect(host = "localhost", user = "postgres", password = "akhil", port = 5432, dbname = "db2")
cur = con.cursor()
cur.execute("select * from statements where user_name is r.badireddy")
data = cur.fetchone()
print(data)

cur.close()
con.close()
print("Column type changed successfully.")

SyntaxError: syntax error at or near "r"
LINE 1: select * from statements where user_name is r.badireddy
                                                    ^

In [38]:
con.rollback()

In [39]:
import psycopg2
con = psycopg2.connect(host = "localhost", user = "postgres", password = "akhil", port = 5432, dbname = "db2")
cur = con.cursor()
cur.execute("select * from statements where user_name = 'r.badireddy'")
data = cur.fetchone()
print(data)

cur.close()
con.close()
print("Column type changed successfully.")

(datetime.date(2024, 10, 28), 'Salary', 10000, 'r.badireddy')
Column type changed successfully.