In [5]:
# The Anil kumar a very good customer, 
# bought 3045 sales order our portal. We got 20000 
# profit because of ANIL KUMAR

customer_name = input("Enter Customer Name:" )
# no_of_sales_orders = input("Enter sales orders:")
# profit = input("enter profit: " )
s = "The " + customer_name 
print(s)

Enter Customer Name: 15

The 15

In [7]:
# The Anil kumar a very good customer, 
# bought 3045 sales order our portal. We got 20000 
# profit because of ANIL KUMAR

customer_name = input("Enter Customer Name:" )

no_of_sales_orders = input("Enter sales orders:")
# profit = input("enter profit: " )
s = "The " + customer_name + " a very good customer, bought " + no_of_sales_orders + "  sales order our portal. We got  " 
print(s)

Enter Customer Name: 156
Enter sales orders: 15

The 156 a very good customer, bought 15  sales order our portal. We got

In [8]:
# The Anil kumar a very good customer, 
# bought 3045 sales order our portal. We got 20000 
# profit because of ANIL KUMAR

customer_name = input("Enter Customer Name:" )
no_of_sales_orders = input("Enter sales orders:")
profit = input("enter profit: " )
s = "The " + customer_name + " a very good customer, bought " + no_of_sales_orders + "  sales order our portal. We got  " + profit + " profit because of"
print(s)

Enter Customer Name: akhil
Enter sales orders: 180
enter profit:  159

The akhil a very good customer, bought 180  sales order our portal. We got  159 profit because of ANIL KUMAR.

In [9]:
# The Anil kumar a very good customer, 
# bought 3045 sales order our portal. We got 20000 
# profit because of ANIL KUMAR

customer_name = input("Enter Customer Name:" )
no_of_sales_orders = input("Enter sales orders:")
profit = input("enter profit: " )
s = "The " + customer_name + " a very good customer, bought " + no_of_sales_orders + "  sales order our portal. We got  " + profit + " profit because of" + customer_name
print(s)

Enter Customer Name: akhil
Enter sales orders: ffgfhfshfdjh
enter profit:  afajasgfkxgvfdaj

The akhil a very good customer, bought ffgfhfshfdjh  sales order our portal. We got  afajasgfkxgvfdaj profit because ofakhil

In [11]:
# The Anil kumar a very good customer, 
# bought 3045 sales order our portal. We got 20000 
# profit because of ANIL KUMAR

customer_name = input("Enter Customer Name:" )
no_of_sales_orders = input("Enter sales orders:")
profit = input("enter profit: " )
s = "The " + customer_name + " a very good customer, bought " + no_of_sales_orders + "  sales order our portal. We got  " + profit + " profit because of" + customer_name
print(s)

Enter Customer Name: ghjdgf
Enter sales orders: djgfhdhgf
enter profit:  gddfdjhgfdjh

The ghjdgf a very good customer, bought djgfhdhgf  sales order our portal. We got  gddfdjhgfdjh profit because ofghjdgf

In [4]:
a = 1000
print(f"The product cost : {a}")

The product cost : 1000

In [5]:
a = 1000
b = 2000
print(f"The product cost : {a + b}")

The product cost : 3000

In [7]:
a = 123.456
print(f"The product cost {a}")

The product cost 123.456

In [9]:
a = 123.456
print(f"The product cost {int(a)}")

The product cost 123

In [13]:
a = 123.456
print(f"The product cost {a: f}")

The product cost  123.456000

In [15]:
a = 123.456
print(f"The product cost {a: .4f}")

The product cost  123.4560

In [14]:
a = 123.456
print(f"The product cost {a: .2f}")

The product cost  123.46

In [16]:
a = 123.456
print(f"The product cost {a: .1f}")

The product cost  123.5

In [17]:
# format Specifiers :  %s, %d, %r, %f

In [18]:
a = 123.456789101123456789
print("The product cost %s")

The product cost %s

In [19]:
a = 123.456789101123456789
print("The product cost %s", a
     )

The product cost %s 123.45678910112346

In [19]:
a = 123.456789101123456789
print("The product cost %s", a)

The product cost %s 123.45678910112346

In [21]:
a = 123.456789101123456789
print("The product cost %s"%a)

The product cost 123.45678910112346

In [22]:
a = 123.456789101123456789
print("The product cost %d"%a)

The product cost 123

In [23]:
a = 123.456789101123456789
print("The product cost %r"%a)

The product cost 123.45678910112346

In [26]:
a = 123.4567834101123456789
print("The product cost %f"%a)

The product cost 123.456783

In [27]:
# special \\  \n \t 
print("fdfdfdff \n dfdfdfdfdfd \t fdfdfdf")

fdfdfdff
 dfdfdfdfdfd 	 fdfdfdf

In [28]:
# special \\  \n \t 
print(r"fdfdfdff \n dfdfdfdfdfd \t fdfdfdf") # r in this cell

fdfdfdff \n dfdfdfdfdfd \t fdfdfdf

In [30]:
# special \\  \n \t 
print("fdfdfdff \\n dfdfdfdfdfd \\t fdfdfdf") # no r in this cell

fdfdfdff \n dfdfdfdfdfd \t fdfdfdf

In [32]:
print("akhil\nmedi")

akhil
medi

In [33]:
print(r"akhil\nmedi")

akhil\nmedi

In [34]:
print("akhil\\nmedi")

akhil\nmedi

In [35]:
print(len("akhil\\nmedi"))

11

In [36]:
print(len("akhil\nmedi"))

10

In [37]:
print(("akhil\nmedi"))

akhil
medi